.product-page {
  &__main {
    height: auto;
    position: relative;
  }

  &__info {
    width: 100%;

    h2 {
      @include font(600, 30px, 27px, 0);
      margin-bottom: 0.5rem;
    }
  }

  &__brand {
    margin-bottom: 2rem;
  }

  &__main-image {
    aspect-ratio: 1/1;
    height: 300px;
    min-width: 300px;

    @include media-query('sm') {
      min-width: 450px;
      height: 350px;
    }

    @include media-query('md') {
      height: 350px;
      max-width: 300px;
      min-width: 300px;
    }

    @include media-query('lg') {
      height: 541px;
      max-width: 510px;
      min-width: 510px;
    }
  }

  &__next {
    right: -30px;

    @include media-query('md') {
      margin-right: 1rem;
      right: 0;
    }
  }

  &__next,
  &__prev {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    background: #000000ba;
    color: #fff;
    transform: translateY(-50%);
  }

  &__prev {
    left: -30px;

    @include media-query('md') {
      margin-left: 1rem;
      left: 0;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;

    @include media-query('md') {
      flex-direction: row;
    }

    ul {
      display: flex;
      gap: 0.75rem;
      max-height: 45px;
      margin-bottom: 2rem;
    }
  }

  &__attribute-selected {
    background-color: #000;
    color: #fff;
    border: 2px solid #5ECE7B;
  }

  &__attribute-item {
    @include font(400, 16px, 18px, 0.05em);
    padding: 1.5rem;
    max-height: 32px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ccc;

    &.product-page__attribute-selected {
      border: 2px solid #5ECE7B;
      background-color: #000;
      color: #fff;
    }
  }


  &__thumbnails {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    max-height: 500px;
    width: 100%;
    overflow-y: auto;
    overflow-x: scroll;
    padding-right: 4px;
    padding-block: 16px;
    box-shadow: 0 4px 15px 0 rgba(168, 172, 176, 0.5);

    @include media-query('md') {
      justify-content: initial;
    }

    &::-webkit-scrollbar {
      height: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    @include media-query('md') {
      flex-direction: column;
      overflow-x: hidden;
      width: 95px;
      min-width: 95px;
      padding-block: 0;
      box-shadow: 0 4px 35px 0 rgba(168, 172, 176, 0.2);
    }

    &::-webkit-scrollbar {
      width: 1rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #999;
      border-radius: 4px;
    }


    img {
      height: 60px;
      width: auto;
      object-fit: contain;
      display: block;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #999;
      border-radius: 4px;
    }
  }

  &__attribute-name {
    @include font(700, 18px, 18px, 0, ("Roboto Condensed", sans-serif));
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  &__price {
    text-transform: uppercase;
    gap: 0.75rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;

    p {
      &:first-child {
        @include font(700, 18px, 18px, 0, ("Roboto Condensed", sans-serif));
      }

      &:last-child {
        @include font(700, 24px, 18px, 0);
      }
    }
  }

  &__description {
    ul {
      flex-wrap: wrap;
    }
  }

  &__add-to-cart {
    @include font(600, 16px, 1.2, 0);
    width: 100%;
    padding: 16px 32px;
    background-color: var(--primary-color);
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
      background-color: #ccc;
      color: #666;
      cursor: not-allowed;
    }
  }

  .disabled {
    background-color: #ccc;
    cursor: not-allowed;
    opacity: 0.6;
  }
}